{
	"experimentalTernaries": false,
	"experimentalOperatorPosition": "end",
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"objectWrap": "preserve",
	"bracketSameLine": true,
	"arrowParens": "always",
	"rangeStart": 0,
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "strict",
	"vueIndentScriptAndStyle": false,
	"endOfLine": "crlf",
	"embeddedLanguageFormatting": "auto",
	"singleAttributePerLine": true
}
